<!DOCTYPE html>
<html>
<head>
    <title>my space</title>
</head>
<body>
<div style="height: 50px;background-color: #0000F0"></div>



<script language="javascript" src="public/js/homepage.js"></script>
</body>
</html>